
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700&display=swap');

*{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 1rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
 --main-color: #f5d000;
 --text-color: #ffffff;
 --background-color: #1a1a1a;
}
section {
    padding: 4rem 0 2rem;
}
img {
    width: 100%;
}

body {
    color: var(--text-color);
    background-color: var(--background-color);
    background-position: center right;
}

.container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: block;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 100;
}
header.shadow{
    color:var(#383838);
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
}

#menu-icon {
    font-size: 24px;
    cursor: pointer;
    color: var(--text-color);
    display: none;
}

.logo {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-color);
}

.logo span {
    color: var(--main-color);
}

.navbar {
    display: flex;
    column-gap: 2rem;
}

.navbar a {
    color: var(--text-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar a:hover, 
.navbar .active{
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
}
#search-icon {
    font-size: 26px;
    cursor: pointer;
    color: var(#ffffff);
}

.search-box {
    position: absolute;
    top: 110%;
    right: 0;
    left: 0;
    background: var(--background-color);
    box-shadow: 4px 4px 20px rgb(15, 54, 55 /10%);
    border: 1px solid var(--main-color);
    border-radius: 0.5rem;
    clip-path: circle(0% at 100% 0%);
}
.search-box.active{
    clip-path: circle(144% at 100% 0%);
    transition: 0.3s;
}
.search-box input {
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    background:transparent;
    font-size: 1rem;
}
.home {
    max-width: 1200px;
    margin: auto;
    width: 100%;
    min-height: 640px;
    display: flex;
    align-items: center;
    background-image: url(homepagecar.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
}
.home-text {
    padding-left: 10px;
    position: relative;
    bottom: 180px;
}
.home-text h1{
    font-size: 2.5rem;
}
.home-text span{
    color: var(--main-color)
}
.home-text p{
    font-size: 0.938rem;
    font-weight: 300;
    margin: 0.5rem 0 1.2rem;
}
.btn{
    padding: 10px 22px;
    background: var(--main-color);
    color: var(--background-color);
    font-weight: 400;
}
.btn:hover{
    background: #b89c00;
}
.heading{
    text-align: center;
}
.heading span{
    font-weight: 500;
    color: var(--main-color);
}

.heading p{
    font-size: 0.938rem;
    font-weight: 300;
}

.cars-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 2rem;
}
.cars-container .box{
    flex: 1 1 17rem;
    position: relative;
    height: 200px;
    border-radius: 0.5rem;
    overflow: hidden;
}
.cars-container .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
.cars-container .box img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.cars-container .box h2{
    position: absolute;
    bottom: 0.25rem;
    left: 7.7rem;
    font-weight: 400;
    font-size: 1rem;
    background: var(--background-color);
    padding: 10px;
    border-radius: 0.5rem;
}
.cars-container.box:hover h2{
    background: var(--main-color);
    color: var(--background-color);
}
.about-us{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}
.about-us2-img{
    flex: 1 1 21rem;
}
.about-us-text{
    flex: 1 1 21rem;
}
.about-us-text span{
    font-weight: 500;
    color: var(--main-color);
}
.about-us-text h2{
    font-size: 1.7rem;
}
.about-us-text p{
    font-size: 0.938rem;
    margin: 0.5rem 0 1.4rem;
    right: 0px;
}
.services-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2.1rem;
    margin-top: 2rem;
}
.services-container .box{
    flex: 1 1 17rem;
    position: relative;
    padding: 15px;
    display: flex;
    flex-direction: column;
    background: #383838;
    border-radius: 0.67rem;
}
.services-container .box img{
    width: 100%;
    height: 150px;
    object-fit: contain;
    object-position: contain;
    margin-bottom: 1rem;
}
.services-container .box h3{
    font-size: 1.1rem;
    font-weight: 600;
}
.services-container .box span{
    font-size: 1.1rem;
    font-weight: 600;
    color: var(#ffffff);
}
.services-container .box .bx{
    color: var(--main-color);
    margin: 0.8rem 0;
}
.services-container .box .btn{
    max-width: 120px;
}
.services-container .box .details{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 1.8rem;
    right: 1rem;
    font-size: 1rem;
    color: var(--text-color);
}
.services-container .box .details:hover{
    color: var(--main-color);
    text-decoration: underline;
}
.rental-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}
.rental-container .box img{
    width:  300px;
    height: 200px;
    object-fit: cover;
}
.rental-container .box{
    flex: 1 1 13rem;
    padding: 20px;
}
.rental-container .box:hover{
    background: #383838;
}
.rental-container .box span{
    font-size: 0.7rem;
    color: var(--main-color);
}
.rental-container h3{
    font-size: 1.2rem;
}
.rental-container .box p{
    font-size: 0.8rem;
    margin: 4px 0;
}
.rental-container .box .rental-btn{
    display: flex;
    align-items: center;
    column-gap: 4px;
    color:var(--text-color);
}
.rental-container .box .rental-btn .bx{
    font-size: 20px;
}
.rental-container .box .rental-btn:hover{
  color: var(--main-color);
  column-gap: 0.7rem;
  transition: 0.4s;
}
.footer{
    background: var(#383838);
    color: #ffffff;
    border-top: 2px solid var(--main-color);
}
.footer-container{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.footer-container .logo{
    color: var(--background-color);
    margin-bottom: 1rem;
}
.footer-container .footer-box{
    display:flex;
    flex-direction: column;
}
.social{
    display: flex;
    align-items: center;
}
.social a{
    font-size: 24px;
    color: var(--background-color);
    margin-right: 1rem;
}
.social a:hover{
    color:var(--main-color);
}
.footer-box h3{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
.footer-box a,
.footer-box p{
    color: #ffffff;
    margin-bottom: 10px;
}
.footer-box:hover{
    color:var(#383838);
}
